/* Reset */

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* Generics */

body{
font-family: sans-serif;
height: 100vh;
background-image: linear-gradient(#019688 20%, #dcdbd2 20%, #dcdbd2);
}

p{
color: gray;
}

.fas, .far {
color: gray;
font-size: 20px;
margin-left: 10px;
}


.fa-bell-slash{
color:#8edbfc;
font-size: 25px;
margin-top: 10px;
}

/* .debugborder{
border: 1px solid red;
} */

/* Utils */

.circle{
height: 50px;
width: 50px;
border-radius: 50%;
background-color: white;

overflow: hidden;
}

.circle img {
max-width: 100%;
display: block;
object-fit: cover;
}

/* left-right sides */

#left-side{
border-right: 1px solid lightgrey;
}

.bar{
height: 80px;
background-color: #eaeaea;
padding: 10px;
position: sticky;
}

#notifications{
height: 80px;
background-color: #8edafc;
padding: 10px;
}

#user-contacts{
height: 520px;
background-color: white
}

#user-contacts .list-item:hover {
cursor: pointer;
background-color: #eaeaea;
}

#search{
height: 50px;
background-color: white;
padding: 10px;
}

#user-chat{
background-image: url(../img/mine.jpg);
height: 570px;
padding: 50px;
}

#user-chat .message{
width: 300px;  
background-color:#d5faba;
padding: 10px;
border-radius: 15px;
margin-bottom: 20px;
}

#user-contacts .message{
    width: 50px; 
    }

#user-chat .message.received{
background-color: white;
align-self: flex-start;
}

#user-chat .message.sent{
align-self: flex-end;
}

.current-date{
text-align: right;
color:grey;
display: block;
font-size: small;
}
